#button {
    padding: 7px 17px;
    border-radius: 5px;
    font-size: 18px;
    color: white;
    background-image: linear-gradient(to right, #01b395, #03bd69);
    font-family: cursive;
    text-decoration: none;
    transition: 1s ease;
  }

  .button:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.1);
    transition: 1s ease;
  }

  

  .bg{
    background-color: #171518;
  }






