

.btn-box {
 
   display: inline-block;
   padding: 12px 28px;
 
   font-size: 16px;
   color: #081b29;
   letter-spacing: 1px;
   text-decoration: none;
   font-weight: 600;
 }
 
 
 .text{
   color: #03bd69;
 }

 .home-sci a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid rgb(7, 133, 142);
    border-radius: 50%;
    font-size: 20px;
    color: #03bd69;
    text-decoration: none;
    margin: 30px 15px 30px 0;
  
  }
  
  .home-sci a:hover{
    background: #03bd69;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;
  }